# Ignore IDE/project files
.idea/
.vscode/
*.iml
*.classpath
*.project

# Ignore build/output folders
/out/
bin/
target/

# Ignore system files
desktop.ini
*.odt
*.eml
*.userlibraries

# Ignore VS Code extensions
.vscode/extensions/
